name: Pull Request
on:
  pull_request:
    types: [opened, synchronize, edited, ready_for_review]
    paths:
      - '.github/workflows/pr.yml'
      - '.goreleaser.yml'
      - 'go.mod'
      - 'go.sum'
      - '**/*.go'
concurrency:
  group: ${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - id: diff
        name: Fetch Diff
        run: echo result=$(gh pr view ${{ github.event.number }} --json files --jq '.files | map(.path)' | jq -rc .) >> $GITHUB_OUTPUT
      - if: ${{ contains(fromJSON(steps.diff.outputs.result), '.goreleaser.yml') }}
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
      - if: ${{ contains(fromJSON(steps.diff.outputs.result), '.goreleaser.yml') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goreleaser check
      - name: Install
        run: make install
      - name: Test list
        run: gh milestone list
      - name: Test view
        run: gh milestone view 1
