name: Release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # FIXME: `403 Resource not accessible by integration []`
      # - name: Close milestone
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     make install
      #     MILESTONE_NUMBER=$(gh milestone list --json title,number --jq ".[] | select(.title == \"${GITHUB_REF#refs/*/}\") | .number")
      #     echo "Closing milestone: $MILESTONE_NUMBER"
      #     gh milestone view $MILESTONE_NUMBER
      #     gh milestone close $MILESTONE_NUMBER
